/* CSS Document */
body{background:#E7EDEC;}
.top-menu{
	background:#FFF;
	border:10px solid;
	border-radius:5px;
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-color:#06F;
	font-family:'Comic Sans MS', cursive;
	}
.top-menu.search{
	border:1px solid;
	border-top:none;
	border-bottom:none;
	border-right:none;
	border-color:#CCC;
	}
.top-menu ul{
	width:500;
	height:62;
	background:#FFF;
	display:block;
	margin-top:0;
	list-style:none;
	margin-left:50%;
	margin-right:auto;
	color:#006;
	}

.top-menu ul li a{
	padding-left:30;
	padding-right:30;
	padding-top:20;
	padding-bottom:20;
	float:left;
	text-decoration:none!important;
	color:inherit;
	border:1px solid;
	border-top:none;
	border-bottom:none;
	border-right:none;
	border-color:#CCC;
	}
.top-menu ul li a:hover{
	background:#06F;
	}
.top-menu ul li{
	border:1px solid;
	border-top:none;
	border-bottom:none;
	border-right:none;
	border-color:#CCC;
	float:left;
	margin-top:20;
	margin-left:30;
	width:100;	
	}